@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  padding:0;
  margin:0;
  box-sizing: border-box;
  width: 100vw;
  height: 100%;
  overflow-x: hidden;
}

body{
  padding:0;
  margin:0;
  overflow: auto;
  box-sizing: border-box;
}

.main-index{
  position: fixed;
  inset: 0;
  overflow: hidden;
  display: grid;
  place-items: center;

}

.loader {
  position: absolute;
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: #FF3D00;
  border-radius: 50%;
  box-sizing: border-box;
  display: inline-block; 
  top:45%;
  transform: translateY(-50%);
  animation: rotation 1s linear infinite;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 


.IconsByChoosing{
  padding:0.7%;
  margin-left:5px;
  /* margin-right:2px; */
  color:rgb(78, 72, 72)
}

.InputsStyleContainer {
  
  font-weight: 100;
  position:relative;
  display:flex;
  flex-direction: column;
  /* align-items: start; */
  margin-top:10px;
  /* margin-bottom:10px; */
  /* width: 15vw; */
}

div.InputsStyleContainer p {
  font-weight: 500;
}

.InputsStyleFromTo {
  position: relative;
  display:flex;
  align-items: center;
  /* width: 15vw; */
  height: 40px;
  background-color: white;
}


.InputsProps{
  min-width: 1vw;
  font-weight: 500;
  border:1px solid rgb(147, 146, 146);
  padding-left: 6px;
  border-radius: 4px;
  /* width:100%; */
  height: 80%;
  outline:none;
}

.sitesArrow{
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  margin:4px;
  border-radius: 5px;
  cursor:pointer;
}

.ActiveSite{
  background-color: red;
  color:white;
}

.main-view{
  position:relative;
  height:100vh;
  width: 100vw;
  overflow:hidden;
  margin-top:-12vh;
  transition: .7s;
}

.main-view-scrolled{
  overflow:hidden;
  width: 100vw;
  height:15vh;
  transition: .7s;
}
.main-video{
  width: 100%;
  margin:auto;
  height: 116%;
}
.property-card-price{
  font-weight: 700;
  color: white;

}
.property-data-specyfication-box{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
  align-content: flex-start;
  /* background-color:rgb(213, 209, 209); */
  margin: 0 auto;
  width:90%;
  height: 85%;
}

.property-card-data-gallery-container {
    position: relative;
    display:flex;
    height:80px;
}

.property-card-data-gallery{
  display:flex;
  flex-wrap: nowrap;
  /* width:500%; */
}

.property-card-data-gallery-arrow-right{
  position: absolute;
  width:30px;
  right:0;
  z-index:2;
  height:100%;
  display:flex;
  justify-content: center;
  cursor: pointer;
  /* border:2px solid black; */
  /* background-color:white; */
}

.clickedSlideLeftGallery{
  margin-left:-105px;
  transition:0.4s
}

.clickedSlideRightGallery{
  margin-left:-160px;
  transition:0.4s
}

.company-base{
  display:flex;
  flex-direction: column;
  justify-content: center;
  height: 50%;
  width:40%;
}

.descrytpion-container{
  padding:2%;
  width: 83%;
  border-radius:10px;
  margin: 0px auto;
  background-color:white;
}

.features-container{
  display: flex;
  border-radius:10px;
  width: 83%;
  background-color: white;
  margin: 10px auto;
}

.contact-form-container {
  padding:2%;
  width:83%;
  background-color:white;
  border-radius:10px;
  margin: 10px auto;
}

.contact-form-in-property-card{
  display:flex;
  flex-direction: column;
  border-radius:10px;
  margin: 10px auto;
}

.cf-input-property-card{
  border: 1px solid black;
  margin:0px 0px 6px 0px;
  border-radius:5px;
}

/* import HandshakeIcon from '@mui/icons-material/Handshake';
import SavingsIcon from '@mui/icons-material/Savings';
import GTranslateIcon from '@mui/icons-material/GTranslate';
import GavelIcon from '@mui/icons-material/Gavel';
import MapsHomeWorkIcon from '@mui/icons-material/MapsHomeWork';
import SupportAgentIcon from '@mui/icons-material/SupportAgent'; */


@layer components {

  .InputsStyleContainer {

    @apply font-normal text-sm 
    /* font-weight: 100;
    position:relative;
    display:flex;
    flex-direction: column;
    margin-top:10px;
    width: 15vw; */
  }

  .applyButton {
    @apply absolute right-0 top-0 bg-green-700 py-[1px] text-white text-xs text-center cursor-pointer w-1/3 rounded-md
  }

  .close-icon {
    @apply cursor-pointer w-4 text-white
  }

  .InputsStyle{
    @apply relative flex items-center h-10 bg-white mb-2
  }

  .choosed-multiple-option-region {
  @apply  flex bg-red-400 font-normal text-white rounded-md px-1 cursor-pointer m-[1px]

  }

  .choosed-multiple-option-multiple {
    @apply flex justify-between text-white font-normal items-center bg-red-400 rounded-md px-1 cursor-pointer h-6 m-[1px]
  
    }

  .choosed-multiple-option-beds {
    @apply flex justify-between text-white left-0 top-16 items-center bg-red-400 text-xs rounded-md px-1 cursor-pointer h-6
  
    }

      .choosed-multiple-option-price {
    @apply flex justify-between text-white left-0 font-normal top-16 items-center bg-red-400 text-xs rounded-md px-1 cursor-pointer
  
    }


  .element-how-we-work-container{
    @apply xl:w-1/3 sm:w-1/2 w-full h-96 border border-white flex justify-center items-center

  }

  .element-how-we-work-container-in{
    @apply w-[90%] py-3 px-5 rounded-md bg-slate-800 flex justify-start items-center flex-col h-[90%] border border-white

  }

  .element-how-we-work-container-in-p{
    @apply text-center py-5 text-xl font-semibold text-white;
  }
  .element-how-we-work-container-in-desc{
    @apply text-center py-5 text-base text-white;
  }


  .main-country-crousel {
    @apply text-6xl font-bold
  }

  .visible {
    @apply opacity-100 transition-all duration-700
  }
  
  .novisible {
    @apply opacity-0 transition-all duration-700
  }

  .listScrolled{
    @apply text-white pl-4 pr-4 list-none cursor-pointer 
    hover:border-b z-50

  }

  .list{
    @apply text-gray-900 ml-4 font-normal uppercase p-2 list-none cursor-pointer transition
    hover:bg-red-700 hover:text-white xl:text-sm xl:font-semibold text-xs

  }

  .listToChoose {
    @apply text-black font-normal pl-4 pr-4 list-none hover:bg-yellow-500/[0.2] hover:cursor-pointer hover:font-semibold

  }
  .socialicons {
    @apply p-1 object-contain cursor-pointer flex justify-center items-center !important
  }

  .topheaderel{
    @apply w-44 border-l-2 border-l-gray-100 pl-4 pr-4 flex justify-center items-center text-white 
 
  }
  .iconscosialheader{
    @apply mx-1 w-4 h-4 text-gray-800/[0.5] transition cursor-pointer hover:text-red-700
  }
}
