@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  font-family:  'Nunito Sans', sans-serif !important;
  padding:0;
  margin:0;
  box-sizing: border-box;
  width: 100vw;
  overflow-x: hidden;
}

body{
  padding:0;
  margin:0;
  overflow-x: hidden;
  box-sizing: border-box;
}

/* .kolo{
  width: 260vw;

} */


.IconsByChoosing{
  padding:0.7%;
  margin-left:5px;
  /* margin-right:2px; */
  color:rgb(78, 72, 72)
}

.ListWithChooseContainer{
  z-index:99;
  position:absolute;
  top:30px;
  /* width: 15vw; */
  background-color:white;
  border-bottom:1px solid rgb(147, 146, 146);
  border-left:1px solid rgb(147, 146, 146);
  border-right:1px solid rgb(147, 146, 146);
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;

}
.InputsStyleContainer {
  font-weight: 100;
  position:relative;
  display:flex;
  flex-direction: column;
  /* align-items: start; */
  margin-top:10px;
  margin-bottom:10px;
  /* width: 15vw; */
}

div.InputsStyleContainer p {
  font-weight: 500;
}

.InputsStyle {
  position: relative;
  display:flex;
  align-items: center;
  /* width: 15vw; */
  height: 40px;
  background-color: white;
}

.InputsStyleFromTo {
  position: relative;
  display:flex;
  align-items: center;
  /* width: 15vw; */
  height: 40px;
  background-color: white;
}


.InputsProps{
  min-width: 1vw;
  font-weight: 100;
  border:1px solid rgb(147, 146, 146);
  padding-left: 6px;
  border-radius: 4px;
  /* width:100%; */
  height: 80%;
  outline:none;
}

.sitesArrow{
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  margin:4px;
  border-radius: 5px;
  cursor:pointer;
}

.ActiveSite{
  background-color: red;
  color:white;
}

.CountrySelect {
  min-width: 2vw;
  border:1px solid rgb(147, 146, 146);
  border-radius: 1px;
  width:100%;
  /* height: 80%; */
  outline:none;
}

.main-view{
  position:relative;
  height:100vh;
  width: 100vw;
  overflow:hidden;
  margin-top:-12vh;
  transition: .7s;
}

.main-view-scrolled{
  overflow:hidden;
  width: 100vw;
  height:15vh;
  transition: .7s;
}

.main-video{
  width: 100%;
  margin:auto;
  height: 116%;
}

.property-card-container{
  display:flex;
  flex-direction: column;
  background-color:rgb(230, 227, 227);
}

.property-card-title{
  display:flex;
  align-items: center;
  justify-content: center;
  height:80px;
  width:83.33%;
  margin: 10px auto;
  background-color: white;
  border-radius: 5px;

}

.property-card-price{
  font-weight: 700;
  color: white;

}

/* property card */
.property-card-data-container{
  padding:20px;
  height:550px;
  width:83%;
  background-color: white;
  border-radius: 10px;
  margin: 0 auto;
}

.property-data-left{
  overflow:hidden;
  width:55%;
  margin-right: 20px;
}

.property-data-right{
  padding-top:10px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  width:45%;
  height: 100%;
  background-color: white;
}

.property-data-localization{
  padding-top:4px;
  width:100%;
  height:10%;
} 

.property-data-specyfication-box{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
  align-content: flex-start;
  /* background-color:rgb(213, 209, 209); */
  margin: 0 auto;
  width:90%;
  height: 85%;
}

.property-data-specifation-one{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25%;
  height:15%;
  background-color: rgb(245, 245, 245);
  border:2px solid white

}
.property-data-main-image{
  overflow: hidden;
  /* background-color:yellow; */

}
.property-data-images-container{
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  /* background-color:blue; */
}
.property-card-data-gallery-container {
    position: relative;
    display:flex;
    height:150px;
    /* background-color:red; */
}

.property-card-data-gallery-all-images {
  overflow:hidden;
  display:flex;
  height:100%;
  width: 100%;
  padding:5px;
  /* background-color:red; */
}

.property-card-data-gallery{
  display:flex;
  flex-wrap: nowrap;
  /* width:500%; */
}

.property-card-data-gallery-arrow-blindbox{
  width:30px;
  height:100%;
  cursor: pointer;
  /* background-color: yellow; */
}

.property-card-data-gallery-arrow-left{
  position: absolute;
  width:30px;
  left:0;
  z-index:2;
  height:100%;
  display:flex;
  justify-content: center;
  cursor: pointer;
  /* border:2px solid black */
  /* background-color:white; */
}

.property-card-data-gallery-arrow-right{
  position: absolute;
  width:30px;
  right:0;
  z-index:2;
  height:100%;
  display:flex;
  justify-content: center;
  cursor: pointer;
  /* border:2px solid black; */
  /* background-color:white; */
}

.unClickedSlideLeftGallery{
  margin-left:0px;
  /* transition:0.4s */
}

.clickedSlideLeftGallery{
  margin-left:-160px;
  transition:0.4s
}

.clickedSlideRightGallery{
  margin-left:-160px;
  transition:0.4s
}

/* .footer-left{
  display: flex;
  z-index:1;
  flex-direction: column;
  align-items: center;
  width: 40%;
} */

.company-base{
  display:flex;
  flex-direction: column;
  justify-content: center;
  height: 50%;
  width:40%;
}

.descrytpion-container{
  padding:2%;
  width: 83%;
  border-radius:10px;
  margin: 0px auto;
  background-color:white;
}

.features-container{
  display: flex;
  border-radius:10px;
  width: 83%;
  background-color: white;
  margin: 10px auto;

}

.one-feature{
  display: block;
  margin:20px 0px 20px 30px;
}

.contact-form-container {
  padding:2%;
  width:83%;
  background-color:white;
  border-radius:10px;
  margin: 10px auto;
}

.contact-form-in-property-card{
  display:flex;
  flex-direction: column;
  border-radius:10px;
  margin: 10px auto;
}

.cf-input-property-card{
  border: 1px solid black;
  margin:0px 0px 6px 0px;
}


@layer components {

  .main-country-crousel {
    @apply text-6xl font-bold
  }

  .visible {
    @apply opacity-100 transition-all duration-700
  }
  
  .novisible {
    @apply opacity-0 transition-all duration-700
  }

  .listScrolled{
    @apply text-white pl-4 pr-4 list-none cursor-pointer 
    hover:border-b z-50

  }

  .list{
    @apply text-gray-900 pl-4 pr-4 list-none cursor-pointer 
    hover:border-b z-50

  }

  .listToChoose {
    @apply text-black pl-4 pr-4 list-none hover:bg-yellow-500/[0.2] hover:font-normal cursor-pointer

  }
  .socialicons {
    @apply p-1 object-contain cursor-pointer flex justify-center items-center !important
  }

  .topheaderel{
    @apply w-44 border-l-2 border-l-gray-100 pl-4 pr-4 flex justify-center items-center text-white 
 
  }
}